.slideshow {
    height: 530px;
    width: 800px;
    overflow: hidden;
    display: block;
    margin:0 auto;
}
.slideshow .img{
    background-size: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    height: 530px !important;
}

.nav {
    width: 800px;
    display: block;
    margin: 20px auto;
}
.nav button {
    background: #b58357;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    padding: 16px 48px;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

button[disabled] {
    color: #ccc;
}

.nav button.prev{
    float: left;
}
.nav button.next {
    float: right;
}